@use "abstract" as *;

.hamburger-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 6;
    cursor: pointer;
    span{
        display: inline-block;
        @include size(40px,4px);
        background-color: $secondary-color;
        transition: transform 300ms linear ,opacity 200ms linear;
        transform-origin: left;
    }
    span:first-child{
        transform: rotate(0);
    }
    span:nth-child(2){
        transform: translateX(0);
        opacity: 1;
    }
    span:last-child{
        transform: rotate(0);
    }

    @include media(desktop){
        display: none;
    }
}

.hamburger-btn.active{
    span{
        transition: transform 300ms linear ,opacity 600ms linear;
        transform-origin: left;
    }
    span:first-child{
        transform: rotate(45deg);
    }
    span:nth-child(2){
        transform: translateX(-100%);
        opacity: 0;
    }
    span:last-child{
        transform: rotate(-45deg);
    }
}

