@use "abstract" as *;

.highlighted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    @include media(desktop){
        justify-content: space-between;
        flex-direction: row;
    }
    .content{
        height: 650px;
        max-width: 600px;
        width: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        .heading{
            font-size: 40px;
            letter-spacing: 1.23px;
            color:$tertiary-color;
            @include media(mobile){
                font-size: 30px;
            }
        }
        .sub-heading{
            font-size: 30px;
            letter-spacing: 0.92px;
            color: $quinary-color;
            @include media(mobile){
                font-size: 20px;
            }
        }
        .description{
            font-size: 22px;
            letter-spacing: 0.68px;
            color: $tertiary-color;
            @include media(mobile){
                font-size: 16px;
            }
        }
    }
    .img-content{
        max-width: 500px;
        width: 100%;
    }
}