@use "abstract" as *;
.container{
    max-width: 1240px;
    width: 100%;
    margin-inline:auto;
    padding-inline: 20px;
    @include media(desktop){
        padding-inline: 0;
    }
}

.spotlight{
    background-image: linear-gradient(108deg, $theme-color-1 17%, $theme-color-2 77%);
}

.bg-highlighted{
    background-color: $light-color;
}

.relative{
    position: relative;
}

.text-center{
    text-align: center;
}

.block{
    display: block;
}

.ib{
    display: inline-block;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.gap-60{
    gap: 60px;
}