// theme-color
$theme-color-1:#fceb6f;
$theme-color-2:#fede60;
//colors
$light-color:#f8f8f8;
$primary-color:#ffcb00;
$secondary-color:#333333;
$teritary-color:#3f3f3f;
$quaternary-color:#3e3e3e;
$quinary-color:#7a7a7a;
